.footer{
    padding: 20px 0;
    border-top: 1px solid $light-gray;

    &.footer-default{
        background-color: #f8fafc;
    }

    nav{
        display: inline-block;
        float: left;
    }

    ul{
        margin-bottom: 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;

            a{
                color: inherit;
                padding: $padding-base-vertical;
                font-size: $font-size-small;
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .copyright{
        font-size: 0.8125rem;
        color: $dark-gray;
    }

    &:after{
        display: table;
        clear: both;
        content: " ";
    }
}
